[user]
	email = 
	name = 
[push]
	default = simple
[alias]
	l = log --graph --pretty=format:'%Cred%h - %Cgreen%s %C(cyan)(%ar)' -20
	f = fetch
	st = status
	sts = status --short
	sta = status --untracked-files
	aa = add --all
	au = add --update
	ch = checkout
	chm = checkout master
	chd = checkout develop
	chs = checkout staging
	com = commit
	come = commit --amend
	cae = commit -a --amend
	cm = commit -m
	cme = commit --amend -m
	cam = commit -am
	came = commit --amend -am
	br = branch
	dbr = branch -D
	nbr = checkout -b
	brm = branch --merged
	brnm = branch --no-merge
	ms = merge --squash
	hr = reset --hard
	df = diff
	dfh = diff HEAD
	df1 = diff HEAD~1
	df2 = diff HEAD~2
	df3 = diff HEAD~3
	dfw = diff --word-diff
	dfwh = diff --word-diff HEAD
	save = stash save
	list = stash list
	restore = stash pop
	del = stash clear
